<nav class="nav top-nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-brand" href="#">
                <img src="assets/img/logo_vertical.png">
            </a>
        </div>
        <div class="nav-right nav-menu">
            <a (click)="logout()">LOGOUT</a>
            <span class="nav-item nav-profile-wrapper">
                <div class="nav-profile"
                    [ngClass]="{
                        'patient-role': userRole === 'patient',
                        'doctor-role': userRole === 'doctor',
                        'nurse-role': userRole === 'nurse',
                        'officer-role': userRole === 'staff',
                        'pharmacist-role': userRole === 'pharmacist'
                    }">
                    <div class="profile-circle">
                        <a>{{userName.substring(0,1)}}</a>
                    </div>
                    <div class="profile-name">
                        <p>{{userName}} [{{userRoleDisplay}}]<p>
                    </div>
                </div>
            </span>
        </div>
    </div>
</nav>
<nav class="nav menu-nav has-shadow">
    <div class="container">
        <div class="nav-left" *ngIf="userRole === 'patient'">
            <a class="nav-item is-tab"
                routerLink="/patient/make-appointment"
                routerLinkActive="is-active">นัดหมายแพทย์</a>
            <a class="nav-item is-tab"
                routerLink="/patient/view-appointment"
                routerLinkActive="is-active">ดูการนัดหมาย</a>
        </div>
        <div class="nav-left" *ngIf="userRole === 'doctor'">
            <a class="nav-item is-tab"
                routerLink="/doctor/manage-workday"
                routerLinkActive="is-active">จัดการวันออกตรวจ</a>
            <a class="nav-item is-tab"
                routerLink="/doctor/start-working"
                routerLinkActive="is-active">ตรวจผู้ป่วย</a>
        </div>
        <div class="nav-left" *ngIf="userRole === 'nurse'">
            <a class="nav-item is-tab"
                routerLink="/nurse/view-today-patient"
                routerLinkActive="is-active">ดูรายการผู้ป่วยวันนี้</a>
        </div>
        <div class="nav-left" *ngIf="userRole === 'staff'">
            <a class="nav-item is-tab"
                routerLink="/staff/manage-appointment"
                routerLinkActive="is-active">จัดการการนัดหมาย</a>
            <a class="nav-item is-tab"
                routerLink="/staff/manage-workday"
                routerLinkActive="is-active">จัดการวันออกตรวจแพทย์</a>
        </div>
        <div class="nav-left" *ngIf="userRole === 'pharmacist'">
            <a class="nav-item is-tab"
                routerLink="/pharmacist/view-prescription"
                routerLinkActive="is-active">ดูรายการสั่งยาวันนี้</a>
        </div>
    </div>
</nav>