<nav class="nav top-nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-brand" href="#">
                <img src="assets/img/logo_vertical.png">
            </a>
        </div>
        <div class="nav-right nav-menu">
            <span class="nav-item nav-profile-wrapper">
                <div class="nav-profile"
                    [ngClass]="{
                        'patient-role': userRole === 'patient',
                        'doctor-role': userRole === 'doctor',
                        'nurse-role': userRole === 'nurse',
                        'officer-role': userRole === 'staff',
                        'pharmacist-role': userRole === 'pharmacist',
                        'admin-role': userRole === 'admin'
                    }">
                    <div class="profile-circle">
                        <a>{{userName.substring(0,1)}}</a>
                    </div>
                    <div class="profile-name">
                        <p>{{userName}} [{{userRoleDisplay}}]<p>
                    </div>
                </div>
            </span>
            <span class="nav-item">
                <a class="button is-danger" (click)="logout()">
                    <span class="icon">
                        <i class="fa fa-power-off"></i>
                    </span>
                    <span>ออกจากระบบ</span>
                </a>
            </span>
        </div>
    </div>
</nav>
<nav class="nav menu-nav has-shadow">
    <div class="container">
        <div class="nav-left patient-role" *ngIf="userRole === 'patient'">
            <a class="nav-item is-tab"
                routerLink="/patient/view-appointment"
                routerLinkActive="is-active"><i class="fa fa-calendar"></i> ดูการนัดหมาย</a>
            <a class="nav-item is-tab"
                routerLink="/patient/make-appointment"
                routerLinkActive="is-active"><i class="fa fa-calendar-plus-o"></i> นัดหมายแพทย์</a>
        </div>

        <div class="nav-left doctor-role" *ngIf="userRole === 'doctor'">
            <a class="nav-item is-tab"
                routerLink="/doctor/manage-workday"
                routerLinkActive="is-active"><i class="fa fa-calendar"></i> จัดการวันออกตรวจ</a>
            <a class="nav-item is-tab"
                routerLink="/doctor/start-working"
                routerLinkActive="is-active"><i class="fa fa-stethoscope"></i> ตรวจผู้ป่วย</a>
        </div>

        <div class="nav-left nurse-role" *ngIf="userRole === 'nurse'">
            <a class="nav-item is-tab"
                routerLink="/nurse/view-today-patient"
                routerLinkActive="is-active"><i class="fa fa-users"></i> ดูรายการผู้ป่วยวันนี้</a>
        </div>

        <div class="nav-left officer-role" *ngIf="userRole === 'staff'">
            <a class="nav-item is-tab"
                routerLink="/staff/manage-appointment"
                routerLinkActive="is-active"><i class="fa fa-plus-square"></i> จัดการการนัดหมาย</a>
            <a class="nav-item is-tab"
                routerLink="/staff/make-appointment"
                routerLinkActive="is-active"><i class="fa fa-plus"></i> เพิ่มการนัดหมาย</a>
            <a class="nav-item is-tab"
                routerLink="/staff/manage-workday"
                routerLinkActive="is-active"><i class="fa fa-calendar"></i> จัดการวันออกตรวจแพทย์</a>
        </div>

        <div class="nav-left pharmacist-role" *ngIf="userRole === 'pharmacist'">
            <a class="nav-item is-tab"
                routerLink="/pharmacist/view-prescription"
                routerLinkActive="is-active"><i class="fa fa-medkit"></i> ดูรายการสั่งยาวันนี้</a>
        </div>

        <div class="nav-left admin-role" *ngIf="userRole === 'admin'">
            <a class="nav-item is-tab"
                routerLink="/admin/staff-management"
                routerLinkActive="is-active"><i class="fa fa-users"></i> จัดการข้อมูลบุคลากร</a>
            <a class="nav-item is-tab"
                routerLink="/admin/medical-management"
                routerLinkActive="is-active"><i class="fa fa fa-medkit"></i> จัดการข้อมูลยา</a>
            <a class="nav-item is-tab"
                routerLink="/admin/clinic-management"
                routerLinkActive="is-active"><i class="fa fa-hospital-o"></i> จัดการข้อมูลแผนก</a>
        </div>
    </div>
</nav>