<table class="table">
    <thead>
        <tr>
            <th>ชื่อแผนก</th>                         
            <th class="action-column"></th>         
        </tr>
    </thead>
    <tbody *ngIf="clinics.length !== 0">
        <tr *ngFor="let clinic of clinics;">
            <td>{{clinic.name}}</td>
            <td>
                <a class="button is-primary"
                    (click)="editClinicInfo(clinic.name)">
                    <i class="fa fa-pencil"></i>แก้ไขข้อมูล</a>
                <a class="button is-danger"
                    (click)="showConfirmDelete = true; currentClinic = clinic.name">
                    <i class="fa fa-trash"></i>ลบข้อมูล</a>
            </td>            
        </tr>
    </tbody>
    <tbody *ngIf="clinics.length === 0">
        <tr>
            <td colspan="2">ไม่พบข้อมูลคลินิก</td>
        </tr>
    </tbody>
</table>

<modal-dialog
    [description]="'คุณต้องการลบแผนก' + currentClinic + 'ออกจากระบบหรือไม่?'"
    [confirmText]="'ลบแผนก'"
    [cancelText]="'กลับ'"
    [isShowFlag]="showConfirmDelete"
    (isShowFlagChange)="showConfirmDelete = $event"
    [confirmFn]="deleteClinicInfo(currentClinic)"
    (onFunctionSucceed)="onDeleteSucceed($event)">
</modal-dialog>