<div class="card is-fullwidth">
    <header class="card-header" (click)="isExpand = !isExpand">
        <p class="card-header-title no-text-selection">
            <i class="fa fa-user-md"></i>
            <span class="doctor"> {{doctor}}</span>
        </p>
        <a class="card-header-icon icon is-medium" (click)="isExpand = !isExpand">
            <i class="fa fa-angle-down" *ngIf="!isExpand"
                (click)="isExpand = !isExpand"></i>
            <i class="fa fa-angle-up" *ngIf="isExpand"
                (click)="isExpand = !isExpand"></i>
        </a>
    </header>
    <div class="card-content" [hidden]="!isExpand">
        <div class="content">
            <appointment-table-selection
                [timeTable]='timeTable'
                (selectedTime)='onSelectedAppointmentTime($event)'
                [isClearSelection]="isClearSelection">
            </appointment-table-selection>
        </div>
    </div>
</div>