<table class="table" *ngFor="let timeTableItem of timeTable; let i = index">
    <thead>
        <tr>
            <th>{{timeTableItem.date}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="button is-info"
                    *ngFor="let time of timeTableItem.time; let j = index"
                    (click)="selectTime(i,j)"
                    [class.is-active]="currentSelectIndex.i === i && currentSelectIndex.j === j && !isClearSelection"
                    [class.is-outlined]="(currentSelectIndex.i !== i ||currentSelectIndex.j !== j) || isClearSelection">
                    {{time}}
                </a>
            </td>
        </tr>
    </tbody>
</table>