<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-5">
            <div class="tile is-child box">
                <div class="selectClinic">
                    <label class="label">แผนกที่ต้องการนัด</label>
                    <p class="control">
                        <span class="select">
                            <select [(ngModel)]="selectClinic" (change)="onSelectClinic($event.target.value)">
                                <option value="0" disabled selected>ชื่อแผนก</option>
                                <option *ngFor="let clinic of clinics" value= {{clinic.id}}
                                [ngValue]="clinic"
                                >
                                    {{clinic.name}}
                                </option>
                            </select>
                        </span>
                    </p>
                </div><br>
                <div class="selectDoctor">
                    <label class="label"> แพทย์ที่ต้องการนัด</label>
                    <p class="control">
                        <span class="select">
                            <select [(ngModel)]="selectDoctor" (change)="onSelectDoctor($event.target.value)">
                                <option value="0" disabled selected>ชื่อแพทย์</option>
                                <option *ngFor="let doctor of doctors" value= {{doctor.id}}>
                                    {{doctor.name}}
                                </option>
                            </select>
                        </span>
                    </p>
                </div><br>
                <!--<div class="box">-->
                <!--<make-appointment-form></make-appointment-form>-->
                <p class="control appointment-button">
                    <a class="button is-success" (click)="makeAppointment()">นัดหมายแพทย์</a>
                    <a class="button is-warning" (click)="changeDate()">เปลี่ยนวันเวลา</a>
                    <a class="button" (click)="cancelAppointment()">ยกเลิก</a>
                </p>
                <!--</div>-->
            </div>
        </div>
        <div class="tile is-parent is-7">
            <div class="tile is-child box">
                <h1 class="title">วันและเวลาของการนัดหมาย</h1>
                <div *ngIf="selectClinic && selectDoctor">
                    <div class="tile is-vertical">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent is-3">
                                <div class="tile is-child box">
                                    <!--<div *ngIf="selectClinic && selectDoctor">-->
                                    <label class="day">{{day}}</label>
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="tile is-parent is-6">
                                <div class="tile is-child box">
                                    <!--<label class="month">{{month}}</label>-->
                                    <label class="month">มกราคม</label>
                                </div>
                            </div>
                            <div class="tile is-parent is-3">
                                <div class="tile is-child box">
                                    <label class="year">{{year}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-child box">
                            <label class="time">{{time}}</label>
                        </div>
                        <!--For Debug hahahahahahahah-->
                        <div class="tile is-child box">
                            <label>{{workdayIndex}}</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!selectClinic || !selectDoctor">
                    <div class="tile is-child box">
                        <label class="none">ยังไม่ได้เลือกแผนกและแพทย์</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>