<div *ngIf="!isFirstLoad" class="box">
    <p class="title is-5">รายการผู้ป่วยในวันที่ {{workdayItem.displayDate}}</p>
    <div class="patient-list">
        <table class="table">
            <thead>
                <tr>
                    <th class="hn-column">HN</th>
                    <th>ชื่อ-นามสกุล</th>
                </tr>
            </thead>
            <tbody *ngIf="patientList.length !== 0">
                <tr *ngFor="let patient of patientList">
                    <td>{{patient.HN}}</td>
                    <td>{{patient.name}} {{patient.surname}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="patientList.length === 0">
                <tr>
                    <td colspan="2">ไม่มีผู้ป่วยทำการนัดหมายกับท่านในรอบนี้</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>