html,
body {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #1aa6b7;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
