<table class="table">
    <thead>
        <tr>
            <th class="id-column">รหัสประจำตัว</th>
            <th>ชื่อ-นามสกุล</th>
            <th>บทบาท</th>                           
            <th class="action-column"></th>         
        </tr>
    </thead>
    <tbody *ngIf="personnelList.length !== 0">
        <tr *ngFor="let personnel of personnelList;">
            <td>{{personnel.id}}</td>
            <td>{{personnel.name}} {{personnel.surname}}</td>
            <td>{{roleMapping[personnel.role]}}</td>
            <td>
                <a class="button is-primary"
                    (click)="editInfo(personnel.id, personnel.role)">
                    <i class="fa fa-pencil"></i>แก้ไขข้อมูล</a>
                <a class="button is-danger"
                    (click)="deleteItem(personnel.id, personnel.role)">
                    <i class="fa fa-trash"></i>ลบข้อมูล</a>
            </td>            
        </tr>
    </tbody>
    <tbody *ngIf="personnelList.length === 0">
        <tr>
            <td colspan="3">ไม่พบข้อมูลบุคลากร</td>
        </tr>
    </tbody>
</table>