:host {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    background-image: url('assets/img/login_bg3.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#login-view {
    width: 100%;
}
#login-view #web-logo {
    width: 400px;
    margin-bottom: 15px;
}
#login-box {
    width: 420px;
    margin: auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#login-box .control input, #login-box .button {
    width: 100%;
}