@theme: #00a250;
@theme-darker: #37BC9B;
@red: #fe424d;
@blue: #007aff;
@white: #ffffff;
@black: #000000;
@grey: #c8c7cc;
@material-grey: #fafafa;
@green: #00a250;

html, body {
    width: 100%;
    height: 100%;
    color: @black;
    background-color: @material-grey;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.inout-transition () {
    transition: all 0.2s ease-in-out;
}

// .button {
//     border: none;
//     border-radius:  0px;
//     .inout-transition();
// }

// .is-primary {
//     color: @white;
//     background-color: @green !important;
//     height: 41px;
//     &:hover, &:active {
//         color: @white;
//         background-color: @green;
//     }
//     &:hover {
//         .BoxShadowHelper(2);
//     }
// }

@officer-color: #006883;
@patient-color: #00a250;
@doctor-color: #ff6000;
@nurse-color: #92bee8;
@pharmacist-color: #6c3925;
.officer-role > .profile-circle {
    background-color: @officer-color;
}
.patient-role > .profile-circle {
    background-color: @patient-color;
}
.doctor-role > .profile-circle {
    background-color: @doctor-color;
}
.nurse-role > .profile-circle {
    background-color: @nurse-color;
}
.pharmacist-role > .profile-circle {
    background-color: @pharmacist-color;
}

.active-helper (@color) {
    color: @color !important;
    border-bottom-color: @color !important;
    &:hover {
        border-bottom-color: @color !important;
    }
}
.officer-role a.is-active {
    .active-helper(@officer-color);
}
.officer-role a:hover {
    border-bottom-color: @officer-color !important;
}
.patient-role a.is-active {
    .active-helper(@patient-color);
}
.patient-role a:hover {
    border-bottom-color: @patient-color !important;
}
.doctor-role a.is-active {
    .active-helper(@doctor-color);
}
.doctor-role a:hover {
    border-bottom-color: @doctor-color !important;
}
.nurse-role a.is-active {
    .active-helper(@nurse-color);
}
.nurse-role a:hover {
    border-bottom-color: @nurse-color !important;
}
.pharmacist-role a.is-active {
    .active-helper(@pharmacist-color);
}
.pharmacist-role a:hover {
    border-bottom-color: @pharmacist-color !important;
}

.no-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}