<table class="table">
    <thead>
        <tr>
            <th class="date-col">วันที่</th>
            <th class="time-col">เวลา</th>
            <th class="clinic-col">แผนก</th>
        </tr>
    </thead>
    <tbody *ngIf="appointmentData.length !== 0">
        <tr *ngFor="let appointment of appointmentData; let i = index" (click)="selectAppointment(i)">
            <td>{{appointment.date}}</td>
            <td>{{appointment.time}}</td>    
            <td>{{appointment.clinic}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="appointmentData.length === 0">
        <tr>
            <td colspan="2">คุณไม่มีการนัดหมาย</td>
        </tr>
    </tbody>
</table>  