<p class="control appointment-choice-wrapper">
    <a class="button is-info is-medium"
        (click)="appointmentChoice = 'byDoctor'; isFirstSelect = false"
        [class.is-disabled]="!isFirstSelect && appointmentChoice !== 'byDoctor'">
        <span class="icon">
            <i class="fa fa-user-md"></i>
        </span>
        <span>นัดหมายโดยเลือกแพทย์</span>
    </a>
    <a class="button is-danger is-medium"
        (click)="appointmentChoice = 'byClinic'; isFirstSelect = false"
        [class.is-disabled]="!isFirstSelect && appointmentChoice !== 'byClinic'">
        <span class="icon">
            <i class="fa fa-building"></i>
        </span>
        <span>นัดหมายโดยเลือกแผนก</span>
    </a>
</p>

<!-- Appointment Form by select doctor -->
<div *ngIf="appointmentChoice === 'byDoctor'">
    <label class="label">ชื่อแพทย์</label>
    <p class="control">
        <input class="input" required type="text" placeholder=""
            [(ngModel)]="appointmentData.doctor">
    </p>
    <label class="label clinic-label">แผนกของแพทย์: {{appointmentData.clinic}}</label>
    <label class="label">เลือกวันเวลาที่จะทำนัดหมาย</label>            
    <appointment-table-selection
        [timeTable]="timeTable"
        (selectedTime)="onSelectTime($event)"
        [isClearSelection]="false">
    </appointment-table-selection>
</div>

<!-- Appointment Form by select clinic -->        
<div *ngIf="appointmentChoice === 'byClinic'">
    <label class="label">แผนกที่ต้องการนัด</label>
    <p class="control">
        <input class="input" type="text" placeholder=""
            [(ngModel)]="appointmentData.clinic">
    </p>
    <label class="label">รอบการตรวจของแผนก{{appointmentData.clinic}}</label>
    <appointment-accordion
        *ngFor="let eachDoctorTimeTable of doctorTimeTable; let i = index"
        [doctorName]="eachDoctorTimeTable.doctor"
        [timeTable]="eachDoctorTimeTable.timeTable"
        (selectedTime)="onSelectTime($event, i)"
        [isClearSelection]="isNoSelection[i]">
    </appointment-accordion>            
</div>

<div *ngIf="!isFirstSelect">
    <label class="label cause-of-appointment">สาเหตุที่เข้าขอพบแพทย์/อาการเบื้องต้น</label>
    <p class="control">
        <textarea class="textarea" placeholder=""
            [(ngModel)]="appointmentData.cause">
        </textarea>
    </p>
</div>